## Udemy Introduction to databases & SQL Querying Notes

In [ ]:
CREATE DATABASE mytestdb

CREATE TABLE mytesttable
(
rollno int,
firstname varchar(50),
lastname varchar(50)
);

SELECT *
FROM mytesttable;

INSERT INTO mytesttable(rollno, firstname, lastname)
VALUES(1, 'RAKESH', 'GOPAL');

SELECT *
FROM mytesttable;

Show all Department Names

In [ ]:
USE AdventureWorks2019;
SELECT name
FROM [HumanResources].[Department]
;

DISTINCT Group Name

In [ ]:
SELECT DISTINCT GroupName
FROM [HumanResources].[Department];

COUNT all Group Names

In [ ]:
SELECT COUNT(GroupName)
FROM [HumanResources].[Department];

COUNT the DISTINCT Group Names

In [ ]:
SELECT COUNT(DISTINCT GroupName)
FROM [HumanResources].[Department];

Filtering using the WHERE & LIKE functions

-  Notice that when filtering for Name, we used LIKE and when filtering for OrganizationLevel we used the **\=**  sign this is due to the different DataTypes between the two columns

show departments that are part of Manufacturing

In [ ]:
SELECT Name, GroupName
FROM [HumanResources].[Department]
WHERE GroupName LIKE 'Manufacturing';

show all employees who have organization level of 2

In [ ]:
SELECT *
FROM [HumanResources].[Employee]
WHERE OrganizationLevel = 2;

show all employees who have OrgLevel of 2 or 3

In [ ]:
SELECT *
FROM [HumanResources].[Employee]
WHERE OrganizationLevel IN (2,3);

show employees who have title as facilities manager

- If I added 2 spaces after 'Manager' the Result would be empty because we are looking for an exact match. This is why it is important to have clean data

In [ ]:
SELECT *
FROM [HumanResources].[Employee]
WHERE JobTitle LIKE 'Facilities Manager';

show all employees who have the word Manager in their title

- when this query is ran the result is emptry because it is looking for an Exact Match adding a '%' enables a wildcard which means any word can be before the word Manager

In [ ]:
SELECT *
FROM [HumanResources].[Employee]
WHERE JobTitle LIKE '%Manager';

SELECT *
FROM [HumanResources].[Employee]
WHERE JobTitle LIKE '%Control%';

show employees born after Jan 1, 1980

In [ ]:
SELECT *
FROM [HumanResources].[Employee]
WHERE BirthDate > '1/1/1980';

show employees born BETWEEN jan 1, 1970 and Jan 1, 1980

In [ ]:
SELECT *
FROM [HumanResources].[Employee]
WHERE BirthDate > '1/1/1970' AND BirthDate < '1/1/1980';

Calculated Columns

In [5]:
SELECT *
FROM [Production].[Product];

SELECT Name, ListPrice
FROM [Production].[Product];

SELECT Name, ListPrice, ListPrice + 10 AS Adjusted_List_Price
FROM [Production].[Product];

Storing the previous query as a new permanent Table using INTO

In [ ]:
SELECT Name, ListPrice, ListPrice + 10 AS Adjusted_List_Price
INTO [Production].[Product_2]
FROM [Production].[Product];

use # to create a Temporary table

In [ ]:
SELECT Name, ListPrice, ListPrice + 10 AS Adjusted_List_Price
INTO #tempname
FROM [Production].[Product];

SELECT *
FROM #tempname;

Delete data from a table

In [ ]:
DELETE FROM [Production].[Product_2]
WHERE Name LIKE 'Bearing Ball';

SELECT *
FROM [Production].[Product_2];

Updating data in a table

In [ ]:
UPDATE [Production].[Product_2]
SET Name = 'Blade_New'
WHERE Name LIKE 'Blade';

SELECT * 
FROM [Production].[Product_2];

## JOINS

In [ ]:
USE mytestdb;
DROP TABLE IF EXISTS dbo.MyEmployee;
CREATE TABLE MyEmployee
(
EmployeeId INT,
FirstName VARCHAR(20),
Lastname VARCHAR(20)
)

INSERT INTO MyEmployee VALUES (1, 'Michael', 'Scott')
INSERT INTO MyEmployee VALUES (2, 'Pam', 'Beesly')
INSERT INTO MyEmployee VALUES (3, 'Dwight', 'Schrute')

SELECT *
FROM MyEmployee;

DROP TABLE IF EXISTS dbo.MySalary;
CREATE TABLE MySalary
(
EmployeeId INT,
Salary FLOAT
);

INSERT INTO MySalary VALUES (1, 10000)
INSERT INTO MySalary VALUES (2, 8000)
INSERT INTO MySalary VALUES (3, 6000)


SELECT *
FROM MyEmployee
SELECT *
FROM MySalary

INNER JOIN

- only returns rows that are common in BOTH tables

In [ ]:
SELECT A.FirstName, A.Lastname, B.Salary
FROM MyEmployee A INNER JOIN MySalary B ON A.EmployeeId = B.EmployeeId;

LEFT OUTER JOIN

-  return everything from table 1 and only rows that are common in table 2

In [ ]:
DROP TABLE IF EXISTS dbo.MyPhone;
CREATE TABLE MyPhone
(
EmployeId INT,
PhoneNumber INT
);

INSERT INTO MyPhone VALUES (1, 12345678)
INSERT INTO MyPhone VALUES (2, 99944455)

SELECT *
FROM MyEmployee
SELECT *
FROM MyPhone;

SELECT A.FirstName, A.Lastname, B.PhoneNumber
FROM MyEmployee A LEFT JOIN MyPhone B
ON A.EmployeeId = B.EmployeId;

RIGHT OUTER JOIN

- returns everything from table 2 and only rows that are common in table 1

In [ ]:
DROP TABLE IF EXISTS dbo.MyParking;
CREATE TABLE MyParking
(
EmployeeId INT,
ParkingSpot VARCHAR(20)
);

INSERT INTO MyParking VALUES (1, 'a1')
INSERT INTO MyParking VALUES (2, 'a2')

SELECT *
FROM MyEmployee;
SELECT *
FROM MyParking;

OUTER JOIN

- all rows from table 1 and table 2 will be joined. Rows that are not common between the 2 tables will appear as Null

In [ ]:
DROP TABLE IF EXISTS dbo.MyCustomer;
CREATE TABLE MyCustomer
(
CustomerID INT,
Customer VARCHAR(20)
);
TRUNCATE TABLE MyCustomer
INSERT INTO MyCustomer VALUES (1, 'Rakesh')
INSERT INTO MyCustomer VALUES (3, 'John')

CREATE TABLE MyOrder
(
OrderNumber INT,
OrderName VARCHAR(20),
CustomerId INT);

INSERT INTO MyOrder VALUES (1, 'SomeOrder1', 1)
INSERT INTO MyOrder VALUES (2, 'SomeOrder2', 2)
INSERT INTO MyOrder VALUES (3, 'SomeOrder3', 7)
INSERT INTO MyOrder VALUES (4, 'SomeOrder4', 8)

SELECT *
FROM MyCustomer;

SELECT *
FROM MyOrder;

SELECT A.CustomerID, A.Customer, B.OrderNumber, B.OrderName
FROM MyCustomer A FULL OUTER JOIN MyOrder B
ON A.CustomerID = B.CustomerId;

CROSS JOIN

- includes rows from both tables

In [ ]:
SELECT *
FROM MyCustomer;
SELECT *
FROM MySalary;

SELECT *
FROM MyCustomer CROSS JOIN MySalary;

DATES

In [ ]:
SELECT GETDATE()

Querying the date from 2 days ago

In [ ]:
SELECT GETDATE() - 2

Querying a specific part of a date

In [ ]:
SELECT DATEPART(yyyy,GETDATE()) AS Year;

SELECT DATEPART(mm,GETDATE()) AS Month;

SELECT DATEPART(dd,GETDATE()) AS Day;

Adding to a specific date

In [ ]:
SELECT DATEADD(day, 4, GETDATE());

SELECT DATEADD(month, 4, GETDATE());

SELECT DATEADD(year, 4, GETDATE());

Querying the first day of the month

## AGGREGATE FUNCTIONS

In [ ]:
SELECT *
FROM MySalary;

SELECT AVG(Salary)
FROM MySalary;

SELECT COUNT(Salary)
FROM MySalary;

SELECT *
FROM MySalary;

SELECT SUM(Salary)
FROM MySalary;

SELECT MIN(Salary)
FROM MySalary;

String Functions

In [ ]:
SELECT *
FROM MyOrder

PRINT CONCAT('String 1', ' String 2')

SELECT OrderNumber, OrderName,
CONCAT(OrderNumber, ' ', OrderName) AS ConcatenatedText
FROM MyOrder

SELECT OrderNumber, OrderName,
CONCAT(OrderName, ' ', RAND()) AS ConcatenatedText
FROM MyOrder

Selecting the first 5 characters on the Left  Side

In [ ]:
SELECT OrderNumber, OrderName,
LEFT(OrderName, 5)
FROM MyOrder

Selecting the first 5 characters on the Right Side

In [ ]:
SELECT OrderNumber, OrderName,
RIGHT(OrderName, 5)
FROM MyOrder

Using Substring

- The '2' tells the query to start on the 2nd character and the '5' tells it to move 5 characters forward

In [ ]:
SELECT OrderNumber, OrderName,
SUBSTRING(OrderName, 2, 5)
FROM MyOrder

Lowercase

In [ ]:
SELECT OrderNumber, OrderName,
LOWER(OrderName)
FROM MyOrder

Uppercase

In [ ]:
SELECT OrderNumber, OrderName,
UPPER(OrderName)
FROM MyOrder

Length

In [ ]:
SELECT OrderNumber, OrderName,
LEN(OrderName)
FROM MyOrder;

SELECT OrderNumber, OrderName,
CONCAT(UPPER(LEFT(OrderName, 1)),
LOWER(SUBSTRING(OrderName, 2, LEN(OrderName))))
FROM MyOrder;

Trim

- LEFT TRIM
- RIGHT TRIM

In [ ]:
SELECT LEN('MyText');

SELECT LEN('    MyText   ');

SELECT LTRIM('    MyText   ');

SELECT RTRIM('    MyText   ');

SELECT TRIM('    MyText   ');